<!DOCTYPE html>

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/mystyle.css' %}" rel='stylesheet' type='text/css' />

</head>

<body>
    <!-- mian-content -->
    <section class="mian-content">
        <!-- /header-top-->
            <div class="header-top">
				<div class="container">
					<header class="mainheader py-3">
						<nav class="navbar navbar-expand-lg navbar-light bg-light ">
							<h1><a class="navbar-brand" href="index.html">Team 5</a></h1>							
							<div class=" navbar-collapse navbar-toggle justify-content-end" id="navbarNavAltMarkup">
                                <ul class="navbar-nav">
									<li><a class="nav-link text-uppercase" href="index.html">Home</a></li>
									<li><a class="nav-link text-uppercase" href="services.html">services</a></li>	
								</ul>
								<div class="top-info text-left">
									<ul>
                                        {% if user.is_authenticated %}
                                        <li class="number-phone"><a class="nav-link request text-uppercase font-weight-bold" href="logout" >Logout</a></li>
                                        {% else %}
										<li class="number-phone"><a class="nav-link request text-uppercase font-weight-bold" href="login.html" >Login</a></li>
                                        {% endif %}
									</ul>
								</div>
							</div>
						</nav>
					</header>
                <!-- /header-top-->
				</div>
				 
                <!-- /banner-info-->
                <div class="banner-content text-center text-white">
				 
                    <h3>We are your house manager!</h3>
                    <div class="banner-high-lights text-center">

					</div>
                </div>
                <!-- //banner-info-->
            </div>
        <!-- //header-top-->
    </section>
    <!-- //mian-content-->
	 <!-- /who you are -->
    <section class="banner-bottom py-lg-5 py-md-5 py-3" id="services">
        <div class="container">
            <div class="inner-sec py-lg-5 py-3">
                <h3 class="tittle text-center mb-md-5 mb-4">Who you are</h3>

                <a href="determine_route_index">
                <div class="row middle-grids pt-lg-5" >
                    <div class="col-lg-6 pt-md-5">
                        <div class="who_you_are">
							<h4 class="mb-2">Realtors</h4>
							<p class="mt-2">you can handle large amount of posting for your clients, which means you can rent out and sell the houses!</p>
                        </div>
                    </div>
                  
                    <div class="col-lg-6 ">
                        <div class="who_you_are text-center">
                            <img src="{% static '/images/h1.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>     
                </div>
                </a>

                <a href="determine_route_index">
				<div class="row middle-grids pt-lg-5">
                   
                    <div class="col-lg-6 ">
                        <div class="who_you_are text-center">
                            <img src="{% static 'images/h2.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div> 
					 <div class="col-lg-6  pt-md-5">
                        <div class="who_you_are">
							<h4 class="mb-2">Individuals</h4>
							<p class="mt-2"> you can list your house on our website! you are able to rent out and sell your house easier than you thought! </p>
                        </div>
                    </div>
                </div>
                </a>

                <a href="/admin">
				 <div class="row middle-grids pt-lg-5">
                    <div class="col-lg-6  pt-md-5">
                        <div class="who_you_are">
							<h4 class="mb-2">Adminstrators</h4>
							<p class="mt-2">it's only for Adminstrators who get permitted.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="who_you_are text-center">
                            <img src="{% static 'images/h3.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div> 
                </div>
            </a>

            </div>
        </div>
    </section>
    <!-- //who you are -->

<!--/footer-->
    <footer class="pymd-5 py-4" id="footer">
        <div class="container">
            <div class="inner-sec py-md-5 py-3">
                <div class="row mb-md-4 mb-md-3">
					<div class="col-lg-3 col-md-6 social-info text-left">
                       <h3 class="tittle1 foot mb-md-5 mb-4 text-white">Contact</h3>
						<p>2020 fall semester  </p>
						<p class="my-2">CMPE 202 Team 5  </p>
						

                    </div>
					<div class="col-md-6 social-info text-left">
					 <h3 class="tittle1 foot mb-md-5 mb-4 text-white">About Us</h3>
                       <p>We are a 3-member team which aims to develop a user-friendly website related to houses busineses. Our features and functions are going to severs three kinds of people, they are realtor who is a representives of people, Individuals who handles their own houses, and lastly, Adminstrators who is going to maintain this website.</p>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--//footer-->    
</body>
</html>
