<!DOCTYPE html>
<head>
    <title>Offers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/mystyle.css' %}" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui1.css' %}">
	<!-- js -->
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<!-- js -->

</head>

<body>
    <!-- mian-content -->
    <section class="mian-content">
        <!-- /header-top-->
            <div class="header-top">
				<div class="container">
					<header class="mainheader py-3">
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
							<h1><a class="navbar-brand" href="index.html">Team 5</a></h1>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-toggle" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						  </button>
							<div class="collapse navbar-collapse navbar-toggle justify-content-end" id="navbarNavAltMarkup">
								<ul class="navbar-nav">
									<li><a class="nav-link text-uppercase" href="index.html">Home</a></li>
									<li><a class="nav-link text-uppercase" href="services.html">services</a></li>	
								</ul>
								<div class="top-info text-left">
									<ul>
										{% if user.is_authenticated %}
                                        <li class="number-phone"><a class="nav-link request text-uppercase font-weight-bold" href="logout" >Logout</a></li>
                                        {% else %}
										<li class="number-phone"><a class="nav-link request text-uppercase font-weight-bold" href="login.html" >Login</a></li>
                                        {% endif %}
									</ul>
								</div>
							</div>
						</nav>
					</header>
                <!-- /header-top-->
				</div>
				
            </div>
        <!-- //header-top-->
    </section>
	<!-- //mian-content-->
	
	<!-- /features -->
	<!-- searching inputs -->
	<div class="container ">       
			
			
			
			<div class="display col-md-9">
				<div id="container">

				<h3>Sent Offers</h3>
					{% for listing in sent_offers %}
					<ul class="list">
						<a href="{% url 'single' listing.pk%}">
							<li>
							<img src="/media/{{ listing.photo_main }}" title="" alt="" />
							<section class="list-left">
							<h5 class="title">{{ listing.title }}</h5>
							<span class="price">${{ listing.price }}</span>
							<p class="catpath">Tags ###</p>
							</section>
							<section class="list-right">
							<span class="date">{{ listing.date }}</span>
							<span class="cityname">{{ listing.city }}</span>
							<img src="{% static 'images/favorite-after.png' %}" title="" alt="" />
						</section>
							<div class="clearfix"></div>
							</li>
						</a>
					</ul>

					{% empty %}
					<h5 class="title">No Offers Sent</h5>
					<div class="clearfix"></div>
                    {% endfor %}


					<h3>Received Offers</h3>
					{% for listing in received_offers %}
					<ul class="list">
						<a href="{% url 'single' listing.listing_id %}">
							<li>
							<section class="list-left">
							<h5 class="title">{{ listing.email }}</h5>
							<span class="price">${{ listing.offer }}</span>
							<p class="catpath">Tags ###</p>
							</section>
							<section class="list-right">
							<span class="date">{{ listing.phone }}</span>
							<span class="cityname">{{ listing.comment }}</span>
							<img src="{% static 'images/favorite-after.png' %}" title="" alt="" />
						</section>
							<div class="clearfix"></div>
							</li>
						</a>
					</ul>
					{% empty %}
					<h5 class="title">No Offers Received</h5>
					<div class="clearfix"></div>
                    {% endfor %}


					<!-- comment out fake listings
					<div class="clearfix"></div>
					<ul class="list"> 
						<div class="row list-right ml-2">
							<div class="col-xs-6 list-left ">
								<button type="button" class="btn btn-outline-primary btn-sm approve">Approve</button>
							</div>
							<div class="col-xs-6 list-right ">
								<button type="button" class="btn btn-outline-primary btn-sm delete">Delete</button>
							</div>
						</div>	
						<a href="single.html">
							<li>
							<img src="{% static 'images/l1.jpg' %}" title="" alt="" />
							<section class="list-left">
							<h5 class="title">This is a Title</h5>
							<span class="price">offer recieved: $290</span>
							<p class="catpath">Offerer: John</p>
							<p class="catpath">email: Johnemail@gmail.com</p>

							</section>
							<section class="list-right">
							<span class="date">Today, 17:55</span>
							<span class="cityname">City name</span>

							</section>
							<div class="clearfix"></div>
							</li> 
						</a>
						
					</ul>
					<ul class="list">
						<div class="row list-right ml-2">
							<div class="col-xs-6 list-left ">
								<button type="button" class="btn btn-outline-primary btn-sm approve">Approve</button>
							</div>
							<div class="col-xs-6 list-right ">
								<button type="button" class="btn btn-outline-primary btn-sm delete">Delete</button>
							</div>
						</div>	
						<a href="single.html">
							<li>
							<img src="{% static 'images/l2.jpg' %}" title="" alt="" />
							<section class="list-left">
							<h5 class="title">This is a Title</h5>
							<span class="price">offer recieved: $300</span>
							<p class="catpath">Offerer: John</p>
							<p class="catpath">email: Johnemail@gmail.com</p>
							</section>
							<section class="list-right">
							<span class="date">Today, 17:55</span>
							<span class="cityname">City name</span>
							</section>
							<div class="clearfix"></div>
							</li> 
						</a>
					</ul>
					<ul class="list">
						<div class="row list-right ml-2">
							<div class="col-xs-6 list-left ">
								<button type="button" class="btn btn-outline-primary btn-sm approve">Approve</button>
							</div>
							<div class="col-xs-6 list-right ">
								<button type="button" class="btn btn-outline-primary btn-sm delete">Delete</button>
							</div>
						</div>	
						<a href="single.html">
							<li>
							<img src="{% static 'images/l2.jpg' %}" title="" alt="" />
							<section class="list-left">
							<h5 class="title">This is a Title</h5>
							<span class="price">offer recieved: $500</span>
							<p class="catpath">Offerer: John</p>
							<p class="catpath">email: Johnemail@gmail.com</p>
							</section>
							<section class="list-right">
							<span class="date">Today, 17:55</span>
							<span class="cityname">City name</span>
							</section>
							<div class="clearfix"></div>
							</li> 
						</a>
					</ul>
					<ul class="list">
						<div class="row list-right ml-2">
							<div class="col-xs-6 list-left ">
								<button type="button" class="btn btn-outline-primary btn-sm approve">Approve</button>
							</div>
							<div class="col-xs-6 list-right ">
								<button type="button" class="btn btn-outline-primary btn-sm delete">Delete</button>
							</div>
						</div>	
						<a href="single.html">
							<li>
							<img src="{% static 'images/l2.jpg' %}" title="" alt="" />
							<section class="list-left">
							<h5 class="title">This is a Title</h5>
							<span class="price">offer recieved: $590</span>
							<p class="catpath">Offerer: John</p>
							<p class="catpath">email: Johnemail@gmail.com</p>
							</section>
							<section class="list-right">
							<span class="date">Today, 17:55</span>
							<span class="cityname">City name</span>
							</section>
							<div class="clearfix"></div>
							</li> 
						</a>
					</ul>
					<ul class="list">
						<div class="row list-right ml-2">
							<div class="col-xs-6 list-left ">
								<button type="button" class="btn btn-outline-primary btn-sm approve">Approve</button>
							</div>
							<div class="col-xs-6 list-right">
								<button type="button" class="btn btn-outline-primary btn-sm delete">Delete</button>
							</div>
						</div>	
						<a href="single.html">
							<li>
							<img src="{% static 'images/l3.jpg' %}" title="" alt="" />
							<section class="list-left">
							<h5 class="title">This is a Title</h5>
							<span class="price">offer recieved: $800</span>
							<p class="catpath">Offerer: John</p>
							<p class="catpath">email: Johnemail@gmail.com</p>
							</section>
							<section class="list-right">
							<span class="date">Today, 17:55</span>
							<span class="cityname">City name</span>
							</section>
							<div class="clearfix"></div>
							</li> 
						</a>
					</ul>
					/end fake -->

					<!--this is for approve btn -->
					<script>
						var approveBtn = document.getElementsByClassName("approve");
						var i;
						
						for (i = 0; i < approveBtn.length; i++) {
							approveBtn[i].addEventListener("click", function() {
							this.parentElement.parentElement.parentElement.style.display = 'none';
							});
						}
					</script>
					<!--this is for delete btn -->

					<script>
						var deleteBtn = document.getElementsByClassName("delete");
						var i;
						
						for (i = 0; i < approveBtn.length; i++) {
							deleteBtn[i].addEventListener("click", function() {
							this.parentElement.parentElement.parentElement.style.display = 'none';
							});
						}
					</script>
				</div>
					<ul class="pagination ">
						<li><a href="#">Prev</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li><a href="#">7</a></li>
						<li><a href="#">8</a></li>
						<li><a href="#">Next</a></li>
					</ul>
			</div>
			<div class="clearfix"></div>
		
	</div>
	<!-- //features -->

<!--/footer-->
<footer class="pymd-5 " id="footer">
    <div class="container">
        <div class="inner-sec py-md-5 ">
            <div class="row mb-md-4 mb-md-3">
                <div class="col-lg-3 col-md-6 social-info text-left">
                   <h3 class="tittle1 foot mb-md-5 mb-4 text-white">Contact</h3>
                    <p>2020 fall semester  </p>
                    <p class="my-2">CMPE 202 Team 5  </p>
                </div>
                <div class="col-md-6 social-info text-left">
                 <h3 class="tittle1 foot mb-md-5 mb-4 text-white">About Us</h3>
                   <p>We are a 3-member team which aims to develop a user-friendly website related to houses busineses. Our features and functions are going to severs three kinds of people, they are realtor who is a representives of people, Individuals who handles their own houses, and lastly, Adminstrators who is going to maintain this website.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--//footer-->  
</body>
