<!DOCTYPE html>
<head>
    <title>Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% load static %}
   <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/mystyle.css' %}" rel='stylesheet' type='text/css' />
</head>

<body>
    <!-- mian-content -->
    <section class="mian-content">
        <!-- /header-top-->
            <div class="header-top">
				<div class="container">
					<header class="mainheader py-3">
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
							<h1><a class="navbar-brand" href="index.html">Team 5</a></h1>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-toggle" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						  </button>
							<div class="collapse navbar-collapse navbar-toggle justify-content-end" id="navbarNavAltMarkup">
								<ul class="navbar-nav">
									<li><a class="nav-link text-uppercase" href="index.html">Home</a></li>
									<li><a class="nav-link text-uppercase" href="services.html">services</a></li>	
								</ul>
								<div class="top-info text-left">
									<ul>
										{% if user.is_authenticated %}
                                        <li class="number-phone"><a class="nav-link request text-uppercase font-weight-bold" href="logout" >Logout</a></li>
                                        {% else %}
										<li class="number-phone"><a class="nav-link request text-uppercase font-weight-bold" href="login.html" >Login</a></li>
                                        {% endif %}
									</ul>
								</div>
							</div>
						</nav>
					</header>
                <!-- /header-top-->
				</div>
				
            </div>
        <!-- //header-top-->
    </section>
    <!-- //mian-content-->
  <!-- /features -->
    <section class="banner-bottom py-lg-5 py-md-5 py-3" id="feature">
        <div class="container">
            <div class="inner-sec py-lg-5 py-3">
                <h3 class="tittle text-center"> Services</h3>
                <div class="row mt-lg-5 mt-md-4 mt-4">

                    <div class="col-lg-4 about-in text-center">

                        <a href="searching.html">
                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'images/buy.png' %}" class="img-fluid_2" >
                                <i class="fas fa-key mb-4"></i>
                                <h5 class="card-title">Buy </h5>
                                <p class="card-text">Buyers can search a house to buy</p>
                            </div>
                        </div>
                        </a>

                    </div>
                    
                    <div class="col-lg-4 about-in text-center">
                        {% if user.is_authenticated and user.get_user_type == "home_owner" %}
                            <a href="posting.html">
                        {% elif user.is_authenticated and user.get_user_type == "realtor" %}
                            <a href="posting.html">
                        {% else %}
                                <a href="">
                        {% endif %}

                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'images/sell.png' %}" class="img-fluid_2" >
                                <i class="fas fa-building mb-4"></i>
                                <h5 class="card-title">Sell</h5>
                                <p class="card-text">Realtors and Owners can list their house for selling</p>
                            </div>
                        </div>
                        </a>

                    </div>

                    <div class="col-lg-4 about-in text-center">
                        <a href="">
                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'images/rent-out.png' %}" class="img-fluid_2" >
                                <i class="fas fa-map-marker mb-4"></i>
                                <h5 class="card-title">Rent out (Owner or Realtor)</h5>
                                <p class="card-text">Realtors and Owners can list their house for renting out</p>
                            </div>
                        </div>
                        </a>

                    </div>
                    <div class="col-lg-4 about-in mt-lg-4 text-center">
                        <a href="searching.html">
                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'images/rent.png' %}" class="img-fluid_2" >
                                <i class="fas fa-building mb-4"></i>
                                <h5 class="card-title">Rent (Renter)</h5>
                                <p class="card-text">Renters can search a house to rent</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    

                    <div class="col-lg-4 about-in mt-lg-4 text-center">
                        <a href="/admin">
                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'images/remove-user.png' %}" class="img-fluid_2" >
                                <i class="fas fa-map-marker mb-4"></i>
                                <h5 class="card-title">Remove Users</h5>
                                <p class="card-text">Adminstrators can remove users</p>
                            </div>
                        </div>
                         </a>

                    </div>

                    <div class="col-lg-4 about-in mt-lg-4 text-center">
                        <a href="approve_listing.html">
                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'images/validation.png' %}" class="img-fluid_2" >
                                <i class="fas fa-map-marker mb-4"></i>
                                <h5 class="card-title">Approve Listing</h5>
                                <p class="card-text">Administrators can Approve listings</p>
                            </div>
                        </div>
                        </a>

                    </div>

                    <div class="col-lg-4 about-in mt-lg-4 text-center">

                        {% if user.is_authenticated %}
                            <a href="favorites.html">
                        {% else %}
                                <a href="">
                        {% endif %}

                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'images/favorited.png' %}" class="img-fluid_2" >
                                <i class="fas fa-map-marker mb-4"></i>
                                <h5 class="card-title">Favorited</h5>
                                <p class="card-text">Realtors and Individuals can see the listings they favorited before</p>
                            </div>
                        </div>
                        </a>

                    </div>

                    <div class="col-lg-4 about-in mt-lg-4 text-center">
                        {% if user.is_authenticated %}
                            <a href="offers.html">
                        {% else %}
                                <a href="">
                        {% endif %}
                        <div class="card">
                            <div class="card-body">
                                <img src="{% static 'images/offer.png' %}" class="img-fluid_2" >
                                <i class="fas fa-map-marker mb-4"></i>
                                <h5 class="card-title">My offer</h5>
                                <p class="card-text">users can see the offers they sent or received</p>
                            </div>
                        </div>
                        </a>

                    </div>
		
                </div>

            </div>
        </div>
    </section>
    <!-- //features -->
</body>

<!--/footer-->
<footer class="pymd-5 py-4" id="footer">
    <div class="container">
        <div class="inner-sec py-md-5 py-3">
            <div class="row mb-md-4 mb-md-3">
                <div class="col-lg-3 col-md-6 social-info text-left">
                   <h3 class="tittle1 foot mb-md-5 mb-4 text-white">Contact</h3>
                    <p>2020 fall semester  </p>
                    <p class="my-2">CMPE 202 Team 5  </p>      
                </div>
                <div class="col-md-6 social-info text-left">
                 <h3 class="tittle1 foot mb-md-5 mb-4 text-white">About Us</h3>
                   <p>We are a 3-member team which aims to develop a user-friendly website related to houses busineses. Our features and functions are going to severs three kinds of people, they are realtor who is a representives of people, Individuals who handles their own houses, and lastly, Adminstrators who is going to maintain this website.</p>

                </div>
            </div>
        </div>
    </div>
</footer>
<!--//footer-->  
</html>
